<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astley studios</title>
    <link rel="stylesheet" href="../public/css/Astley_Studios.css">
    <script src="https://kit.fontawesome.com/544876a7ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img id="LOGO" src="../public/images/DooFi-Rick-Astley--Poster.png" alt="Astley Studios LOGO">
        <ul id="lista-header">
            <li><a class="a-lista" href="#Más-escuchado">Más escuchado</a></li>
            <li><a class="a-lista" href="#Más-vendido">Más vendidos</a></li>
            <li><a class="a-lista" href="#Merchandising">Merchandising</a></li>
        </ul>
        <form action="">
            <input type="text" placeholder="Buscar canciones...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>
    <main>
        <h2 class="secciones">Más vendidos</h2>
        <section id="Más-vendido">
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/Rick_Astley_-_Whenever_You_Need_Somebody.png"
                        alt="Whenever you need somebody">
                    <h2>Whenever You Need Somebody</h2>
                    <p>26,00$</p>
                </article>
            </a>
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/Hold_Me_in_Your_Arms_(Rick_Astley_album).jpg"
                        alt="Hold Me in Your Arms">
                    <h2>Hold Me in Your Arms</h2>
                    <p>25,00$</p>
                </article>
            </a>
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/50_Rick_Astley.jpg"" alt=" 50">
                    <h2>Whenever You Need Somebody</h2>
                    <p>24,00$</p>
                </article>
            </a>
        </section>
        <h2 class="secciones">Más escuchado</h2>
        <section id="Más-escuchado">
            <a class="a-article" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <article>
                    <img id="article" src="../public/images/hqdefault.webp"
                        alt="Never gonna give you up">
                    <h2>Never gonna give you up</h2>
                    <p>1550 M</p>
                </article>
            </a>
            <a class="a-article" href="https://www.youtube.com/watch?v=yPYZpwSpKmA">
                <article>
                    <img id="article" src="../public/images/hqdefault (1).webp"
                        alt="together forever">
                    <h2>together forever</h2>
                    <p>173 M</p>
                </article>
            </a>
            <a class="a-article" href="https://www.youtube.com/watch?v=eYuUAGXN0KM">
                <article>
                    <img id="article" src="../public/images/hqdefault (2).webp"" alt="take me to your heart">
                    <h2>take me to your heart</h2>
                    <p>38 M</p>
                </article>
            </a>
        </section>
        <h2 class="secciones">Merchandising</h2>
        <section id="Merchandising">
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/things-rick-astley-will-never-do-kids-hooded-sweatshirt-p4042-17395_zoom.jpg"
                        alt="Tings Rick Astley will never do hooded sweatshirt">
                    <h2>Tings Rick Astley will never do kids hooded sweatshirt</h2>
                    <p>15,00$</p>
                </article>
            </a>
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/4050538395600.avif"
                        alt="Beautiful life deluxe disc">
                    <h2>Beautiful life deluxe disc</h2>
                    <p>30,00$</p>
                </article>
            </a>
            <a class="a-article" href="">
                <article>
                    <img id="article" src="../public/images/1700901888_RickAstleyTourShirtLimitedRickAstleyVintageShirtRickAstleyFanTeesRetro90sSweaterRickAstleyMerchGift.jpg" 
                    alt="Rick Astley Tour Shirt, Limited Rick Astley Vintage Shirt">
                    <h2>Rick Astley Tour Shirt, Limited Rick Astley Vintage Shirt </h2>
                    <p>19,99$</p>
                </article>
            </a>
        </section>
        
    </main>
    <footer>
        <div id="div-footer">
            <img id="LOGO" src="../public/images/DooFi-Rick-Astley--Poster.png" alt="Astley Studios LOGO">
            <ul id="lista-footer">
                <li><a class="a-lista" href="">Facebook</a></li>
                <li><a class="a-lista" href="">Instagram</a></li>
                <li><a class="a-lista" href="">Discord</a></li>
            </ul>
        </div>
        <p id="derechos">Astley Studios 2024© Todos los derechos reservados</p>
    </footer>
</body>

</html>