<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Redes sociales</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>5 Redes sociales para usar en este 2024 ademas de una sorpresa</h1>
    <ol>
        <li><a id="youtube" href="https://www.youtube.com/?app=desktop&hl=es">youtube</a></li>
        <li><a id="facebook"
                href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Des_LA">facebook</a>
        </li>
        <li><a id="x"  href="https://x.com/?lang=es">X</a></li>
        <li><a id="instagram" href="https://www.instagram.com/">instagram</a></li>
        <li><a id="tiktok" href="https://www.tiktok.com/es/">tiktok</a></li>
<li><a id="sorpresa" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">sorpresa</a></li>

    </ol>
</body>

</html>