#morado {
    color: rgba(143, 3, 143, 0.87);
}

.rosa {
    color: rgb(12, 85, 12);
}

#youtube {
    color: red;
}

#facebook {
    color: blue;
}

#x {
    color: gray;
}

#instagram {
    color: blueviolet;
}

#tiktok {
    color: black;
}

